.LoginCredentials {
    background-color: rgba(18, 50, 146, 0.2);
    width: 180px;
    height: 95px;
    text-align: left;
}

.CreateAccount {
    background-color: rgba(18, 50, 146, 0.2);
    width: 355px;
    height: 120px;
    display: flex;
    text-align: left;
}

.LoginPageInputs {
    background-color: aliceblue;
    left:0;
    right:0;
    top:0;
    bottom:0;
    position: absolute;
    margin: auto;
}