@import url('https://fonts.googleapis.com/css2?family=Exo:wght@400;600;800;900&family=Satisfy&display=swap');

body {
  font-family: 'Exo', sans-serif;
  background-color: #282828;
  color: lavender;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}